.Modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
  transition: ease .3s;
}
.content{
  background: #e0dcdc;
  width: 40%;
  height: 40%;
  border-radius: 20px;
  transition: .3s transform;
  transform: scale(.6);
}

.opened{
  opacity: 1;
  pointer-events: auto;
  .content{
    transform: scale(1);
  }
}
